body, html {
    height: 100%;
}

span {
    padding: 0 10px 2px 10px;
    border-radius: 5px;
}

.uvlow {
    background-color: lime;
    color: #6c757d;
}

.uvmed {
    background-color: yellow;
    color: #6c757d;
}

.uvhigh {
    background-color: orange;
}

.uvveryhigh {
    background-color: red;
}

.uvtoohigh {
    background-color: purple;
}

.forecast-card {
    margin: 0 15px;
}

#weather-display {
    padding: 0 0;
}

@media screen and (max-width: 991px) {    
    #info-sec {
        flex-direction: column;
    }
}